:root {
  --section-gap: 6rem;
  --section-gap-inner: calc( var(--section-gap ) * 0.75 );
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: #2B3135;
  --color-dark-200: #3F4A53;
  --color-dark-300: #435665;
  --color-dark-500: #697884;
  --color-dark-600: #cccfd1;
  --color-dark-700: #F2F3F3;
  --color-dark-800: #d5d5d5;
  --color-dark-900: #f1f1f1;
  --color-accent-1: #FD3E1D;
  --color-accent-2: #0584FF;
  --color-light: #fff;
  --color-light-200: #efead8;
  --color-light-300: #efead8;
  --color-light-400: #efead8;
  --color-light-500: #efead8;
  --color-light-600: #efead8;
  --color-light-700: #efead8;
  --color-light-800: #efead8;
  --color-light-900: #efead8;
  --font-sans: "industry", sans-serif;
  --font-title: "abolition", sans-serif;
  --line-height: 1.78;
  --font-scale: 1.25;
  --font-size: 1rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --font-size-7: calc( var(--font-size-6) * var(--font-scale) );
  --page-width: 80rem;
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(32px, 1fr) [full-end];
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p {
  line-height: var(--line-height);
}

a {
  color: var(--color-light);
  text-decoration: none;
  line-height: var(--line-height);
  font-family: var(--font-title);
}
a:hover {
  color: var(--color-accent);
}

span {
  line-height: var(--line-height);
}

li {
  line-height: var(--line-height);
}

.site-header {
  position: absolute;
  max-height: 150px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  display: grid;
  grid-template-columns: var(--grid-container);
}
.site-header__inner {
  grid-column: inner;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  padding: 3rem 0rem;
}
.site-header__content {
  display: flex;
  justify-content: space-between;
}
.site-header__menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--gap-m);
  position: relative;
}
.site-header__branding {
  margin-right: auto;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.menu__link {
  color: var(--color-light);
  transition: color 0.2s;
  font-size: var(--font-size-3);
}
.menu__link:hover {
  color: var(--color-accent-1);
}
.menu__item--current .menu__link {
  margin-top: 3px;
  display: inline-block;
}
.menu__item--current .menu__link:after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--color-accent-1);
  margin-bottom: 0;
}

.menu-button {
  height: 26px;
  width: 26px;
  position: relative;
  background: none;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.menu-button--close .menu-button__hamburger {
  transition: transform 0.2s 0.2s;
  transform: rotate(45deg) translate(-50%, -50%);
}
.menu-button--close .menu-button__hamburger::before {
  transition: top 0.2s, transform 0.2s 0.2s;
  transform: rotate(90deg);
  top: 0;
}
.menu-button--close .menu-button__hamburger:after {
  transition: width 0.2s;
  width: 0;
}
.menu-button__hamburger {
  transform-origin: left top;
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 50%;
  transition: transform 0.2s;
  transform: translate(-50%, -50%) rotate(0);
  background-color: var(--color-light);
}
.menu-button__hamburger:before, .menu-button__hamburger:after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  height: 1px;
  width: 100%;
  background-color: inherit;
}
.menu-button__hamburger:before {
  transition: top 0.2s 0.2s, transform 0.2s;
}
.menu-button__hamburger:after {
  top: 8px;
  width: 70%;
  transition: width 0.2s 0.2s;
}

.hero {
  min-height: 100vh;
  background: url(assets/images/hero_image@2x.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: var(--grid-container);
}
.hero__inner {
  grid-column: inner;
  display: grid;
  position: relative;
}
.hero__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero__title {
  color: var(--color-light);
  line-height: 1.12;
  margin-top: 11rem;
  margin-bottom: 3rem;
  font-size: 100px;
}
.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-m);
}
.hero__button {
  background-color: var(--color-accent-1);
  color: var(--color-light);
  padding: 0.5rem 1.5rem;
  border: 0;
  border-radius: 0rem;
  font-size: var(--font-size-4);
  font-family: var(--font-title);
  font-weight: 400;
  font-style: italic;
  display: inline-block;
  text-decoration: none;
  transform: skew(-10deg);
}
.hero__button:hover {
  background-color: var(--color-accent-2);
  color: var(--color-light);
}
.hero__button > span {
  display: inline-block;
  transform: skew(10deg);
}
.hero__button--blue {
  background-color: var(--color-accent-2);
}
.hero__bottom {
  grid-column: inner;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  position: relative;
  bottom: 0rem;
}
.hero__read-more {
  display: flex;
  gap: var(--gap-s);
  align-items: center;
}
.hero__read-more__text {
  color: var(--color-light);
  font-family: var(--font-title);
  font-weight: 400;
  font-size: var(--font-size-2);
  white-space: nowrap;
}
.hero__read-more__arrow {
  max-height: 30px;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.promo {
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: 4rem 0;
}
.promo__inner {
  grid-column: inner;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-m);
}
.promo__box {
  position: relative;
  text-align: center;
}
.promo__box-1 .promo__pre-title {
  color: var(--color-light);
}
.promo__box-1 .promo__title {
  color: var(--color-light);
}
.promo__box-2 .promo__pre-title {
  color: var(--color-dark-200);
}
.promo__box-2 .promo__title {
  color: var(--color-accent-1);
}
.promo__box-3 .promo__pre-title {
  color: var(--color-dark-500);
}
.promo__box-3 .promo__title {
  color: var(--color-dark-200);
}
.promo__item {
  flex: 1;
}
.promo img {
  margin: 0;
}
.promo__pre-title {
  position: absolute;
  bottom: 6rem;
  left: 3rem;
  z-index: 2;
}
.promo__title {
  position: absolute;
  left: 3rem;
  bottom: 4rem;
  z-index: 2;
  font-size: var(--font-size-7);
  margin: 0;
}
.promo__asterisk {
  position: absolute;
  font-size: 11px;
  color: var(--color-dark-600);
  left: 3rem;
  bottom: 2rem;
}

/*# sourceMappingURL=style.css.map */
